<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create user</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin/create}" th:object="${user}">
    <label for="name">Enter name:</label>
    <input name="name" th:field="*{username}" id="name" required>
    <br>
    <br>
    <label for="surname">Enter surname:</label>
    <input name="surname" th:field="*{surName}" id="surname">
    <br>
    <br>
    <label for="age">Enter age:</label>
    <input name="age" th:field="*{age}" id="age">
    <br>
    <br>
    <label for="password">Enter password:</label>
    <input type="password" th:field="*{password}" id="password" required>
    <br>
    <br>

        <input type="checkbox" name="checkbox" value="ROLE_USER">
        USER
        <br>
        <br>
        <input type="checkbox" name="checkbox" value="ROLE_ADMIN">
        ADMIN
<!--    </div>-->

    <br>
    <br>
    <input type="submit" value="Create">
</form>
<br>
<br>
<form th:method="POST" th:action="@{/logout}">
    <input type="submit" value="Exit">
</form>

</body>
</html>